body { 
    background-color: black;
    color: hotpink;
}
.image {
    width: 75px;
    height: 75px;
}
.buttonList {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
    
}
.button-card > button {
    background-color: blue;
    color: aquamarine;
    margin-top: 10px;
    padding: 2px 10px;
    z-index: 3;
}
.red {
    background-color: #ff3366;
    color:rgb(95, 13, 95);
    z-index:1;


}
.orange {
    background-color:#ff6633;
    color:rgb(45, 12, 45);

}
.yellow {color:#FFCC33;}
.green {color:#33FF66;}
.cyan {color:#33FFCC;}
.sky {color:#33CCFF;}
.blue {color:#3366FF;}
.indigo {color:#6633FF;}
.violet {color:#CC33FF;}
.purple {color: rgb(95, 13, 95);}