* {
    margin: 0px;
    
}
body { 
    background-color: black;
    font-size: 30px;
}
#title {
    font-size: 150px;
    color: rgb(253, 177, 35);
}
#note > p {
    margin: 0px;
    font-size: 30px;
}
.image:hover {
    /* width:100%;
    height:100%; */
    /* position:absolute; */
    background-color:#000;
    opacity:0.5;
    /* border-radius:30px; */
}
.image {
    width: 120px;
    height: 120px;
    margin: 10px;
}
.button1 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: flex-end;
}
.add-button {
    width: 2536px;
    height: 45px;
    font-size: 30px;
}
.add-button2 {

    width: 600px;
    height: 45px;
    font-size: 30px;
    margin: 18px;
}
.add-button3 {
    width: 350px;
    height: 45px;
    font-size: 30px;

}
.bread {
    background-color: #01579B;
    color: black;
}
.red {
    background-color: #0277BD;
    color: black;
}
.orange {
    background-color:#0288D1;
    color:black;

}
.yellow {
    background-color: #039BE5;
    color: black;
}
.green {
    background-color: #03A9F4;;
    color: black;
}
.cyan {
    background-color:#29B6F6;
    color: black;
}
.sky {
    background-color:#4FC3F7;
    color: black;
}
.blue {
    background-color:#81D4FA;
    color: black;
}
.indigo {
    background-color:#B3E5FC;
    color: black;
}
.violet {
    background-color:#E1F5FE;
    color: black;
}
.purple {
    background-color: #29B6F6;
    color: black;
}
.buttonList {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    font-size: 14px;
    color: BLACK;
}
#note-marker {
    margin: 0px;
    height: 60px;
} 
input {
    background-color: rgb(183, 248, 226);
    margin: 10px;
}