body { 
    background-color: black;
    color: hotpink;
}
.image {
    width: 75px;
    height: 75px;
}
.buttonList {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    
}
.button-card > button {
    background-color: blue;
    color: aquamarine;
    margin-top: 10px;
    padding: 2px 10px;
}